.wordWrapper {
    display: inline-block;
    position: relative;
}

.editButtons {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    z-index: 2000;
    transform: translateX(-50px);
}

#titleSelect {
    width: 60%;
}

#genreSelect {
    width: 40%;
}