<form method="post" action="add">
    <div class="input-group mb-3">
        <label class="input-group-text" for="title">To Do</label>
        <input type="text" maxlength="100" class="form-control" name="taskTitle" id="title" placeholder="e.g Walk the dog">
    </div>
    <div class="input-group">
        <label class="input-group-text" for="text">Extra Info</label>
        <textarea class="form-control" name="taskText" id="text" aria-label="With textarea"></textarea>
        <button class="btn btn-primary" type="submit">Add</button>
    </div>
</form>