<div class="newTaskForm w-100 mt-5 mb-5">
    <form class="" id="newTaskForm" method="post" action="add">
        <div class="input-group mb-3">
            <label class="input-group-text">Title:</label>
            <input type="text" maxlength="100" class="form-control" name="taskTitle" placeholder="e.g Walk the dog">
            <!--            //aria-label="Task Title" aria-describedby="basic-addon1"-->
        </div>
        <div class="input-group">
            <span class="input-group-text">Text</span>
            <textarea class="form-control" name="taskText" aria-label="With textarea"></textarea>
            <button class="btn btn-primary" type="submit">Add</button>
        </div>
    </form>
</div>
